<RadzenStack>

    <RadzenRow>
        <RadzenColumn Size=@leftColumnSize>
            <span style="color:#605e5c; font-size: 0.75rem;">
                File Name:
            </span>
        </RadzenColumn>
        <RadzenColumn>
            <span style="color:#605e5c; font-size: 0.75rem;">
                @FontFile?.Name
            </span>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">
                Font Name:
            </span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar Value="100"
                               ShowValue="false"
                               Mode="ProgressBarMode.Indeterminate"
                               Visible="@fontNameProgressVisibility" />
            <span style="color:#605e5c; font-size: 0.75rem; display: @(fontNameProgressVisibility ? "none" : "inline"); border-radius:5px;"
                  class=@fontNameClass>
                @fontNameText
            </span>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">
                Count Of Tables:
            </span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar ShowValue=@tablesCountProgressShowValue
                               Value=@tablesCountProgressValue
                               Min=@tablesCountProgressMinValue
                               Max=@tablesCountProgressMaxValue
                               Mode=@tablesCountProgressMode
                               ProgressBarStyle=@tablesCountProgressStyle
                               Unit=" " />
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">
                Parsing Tables:
            </span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar ShowValue=@parsingTablesProgressShowValue
                               Value=@parsingTablesProgressValue
                               Min=@parsingTablesProgressMinValue
                               Max=@parsingTablesProgressMaxValue
                               Mode=@parsingTablesProgressMode
                               ProgressBarStyle=@parsingTablesProgressStyle>
                <Template>
                    @parsingTablesProgressValue.ToString("0.0")%
                    <span aria-hidden="true" class="rz-progressbar-label-value">@parsingTablesProgressValue.ToString("0.0")%</span>
                </Template>
            </RadzenProgressBar>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">Count Of Glyphs:</span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar Value="100"
                               ShowValue="false"
                               Mode="ProgressBarMode.Indeterminate"
                               Visible="@glyphCountsProgressVisibility" />
            <span style="color:#605e5c; font-size: 0.75rem; display: @(glyphCountsProgressVisibility ? "none" : "inline"); border-radius:5px;"
                  class=@glyphCountsClass>
                @glyphCountsText
            </span>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">Rendering Glyphs:</span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar ShowValue=@renderingGlyphsProgressShowValue
                               Value=@renderingGlyphsProgressValue
                               Min=@renderingGlyphsProgressMinValue
                               Max=@renderingGlyphsProgressMaxValue
                               Mode=@renderingGlyphsProgressMode
                               ProgressBarStyle=@renderingGlyphsProgressStyle>
                <Template>
                    @renderingGlyphsProgressValue.ToString("0.0")%
                    <span aria-hidden="true" class="rz-progressbar-label-value">@renderingGlyphsProgressValue.ToString("0.0")%</span>
                </Template>
            </RadzenProgressBar>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">Organizing Glyphs:</span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar ShowValue=@organizingGlyphsProgressShowValue
                               Value=@organizingGlyphsProgressValue
                               Min=@organizingGlyphsProgressMinValue
                               Max=@organizingGlyphsProgressMaxValue
                               Mode=@organizingGlyphsProgressMode
                               ProgressBarStyle=@organizingGlyphsProgressStyle>
                <Template>
                    @organizingGlyphsProgressValue.ToString("0.0")%
                    <span aria-hidden="true" class="rz-progressbar-label-value">@organizingGlyphsProgressValue.ToString("0.0")%</span>
                </Template>
            </RadzenProgressBar>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow>
        <RadzenColumn Size="@leftColumnSize">
            <span style="color:#605e5c; font-size: 0.75rem;">Finalizing Font:</span>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenProgressBar ShowValue=@finalizingFontProgressShowValue
                               Value=@finalizingFontProgressValue
                               Min=@finalizingFontProgressMinValue
                               Max=@finalizingFontProgressMaxValue
                               Mode=@finalizingFontProgressMode
                               ProgressBarStyle=@finalizingFontProgressStyle>
                <Template>
                    @finalizingFontProgressValue.ToString("0.0")%
                    <span aria-hidden="true" class="rz-progressbar-label-value">@finalizingFontProgressValue.ToString("0.0")%</span>
                </Template>
            </RadzenProgressBar>
        </RadzenColumn>
    </RadzenRow>

    <RadzenAlert AllowClose="false"
                 AlertStyle="AlertStyle.Warning"
                 Variant="Variant.Flat"
                 Shade="Shade.Lighter"
                 Size="AlertSize.ExtraSmall"
                 @bind-Visible=@alertWarningApplyVisibilty>
        Be aware: Applying this will delete all existing font data.
    </RadzenAlert>

    <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" class="rz-text-align-center">
        <RadzenColumn>
            <RadzenButton Text="Apply" Click="@((args) => dialogService.Close(true))" @bind-Disabled="@applyButonDisabled" ButtonStyle="ButtonStyle.Primary" />
        </RadzenColumn>
        <RadzenColumn>
            <RadzenButton Text="Close" Click="@((args) => dialogService.Close(false))" ButtonStyle="ButtonStyle.Base" />
        </RadzenColumn>
    </RadzenRow>

</RadzenStack>
