<div class="glyph-container @(IsSelected ? "selected" : "")"
     @onclick="ToggleSelection"
     style="width:@($"{_Dimentions.Width}px") !important; height:@($"{_Dimentions.Height}px") !important; display: @(GlyphId<0?"none":"block") !important; border-width: @($"{_Dimentions.BorderWidth}px") !important;"
     @ref="@_GlyphRef">

    <div class="glyph-header" style="height:@($"{_Dimentions.HeaderHeight}px") !important;">
        @_HeaderTitle
    </div>

    <div class="glyph-canvas-wrapper" style="@($"width:{_Dimentions.CanvasWidth}px; height:{_Dimentions.CanvasHeight}px; position: relative;")">

        <SKCanvasView OnPaintSurface="OnPaintSurface"
                      IgnorePixelScaling="true"
                      style="@($"width:{_Dimentions.CanvasWidth}px; height:{_Dimentions.CanvasHeight}px;")"
                      class="glyph-canvas"
                      @ref="_SKCanvasView" />
        @if (!_IsRenderAllowed)
        {
            <div class="glyph-loading">
                <div class="loading-gradient" />
            </div>
        }

    </div>

</div>
